.center {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 32%;
    left: 32%;
    margin-left: -50px; 
    margin-top: -25px; 
} 

.conv {
	font-family: 'Sigmar One', cursive;
	font-size: 80px;
	color: white;
}